apiVersion: v1
kind: Service
metadata:
  name: notification-service
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  selector:
    app: notification-service
  ports:
    - port: 80
      #      nodePort: 30087
      targetPort: 8086
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
spec:
  replicas: 3
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: vishwaghimire/notification-service
          imagePullPolicy: Always
          ports:
            - containerPort: 8086
          env:
            # Kafka
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: kafka_BootStrapServers
            - name: KAFKA_CONSUMER_GROUP_ID
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: kafka_searchServiceGroupId
            - name: KAFKA_TUTOR_SIGNUP_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: tutor-signup-topic
            - name: KAFKA_STUDENT_SIGNUP_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: student-signup-topic
            - name: KAFKA_STUDENT_DETAIL_RESERVATION_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: student-detail-after-reservation-email-topic
            - name: KAFKA_RESERVATION_APPROVED_EMAIL_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: reservation-approved-email-topic


            # Tracing: Zipkin & Sleuth
            - name: ZIPKIN_URL
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: zipkin_url
            - name: ZIPKIN_ENABLED
              value: "true"

            # App Specific
            - name: JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: core-secrets
                  key: jwt-secret-key
