# Service
apiVersion: v1
kind: Service
metadata:
  name: student-service
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  selector:
    app: student-service
  ports:
    - port: 80
      #      nodePort: 30084 # expose to local
      targetPort: 8084
  type: ClusterIP
---
# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: student-service
  template:
    metadata:
      labels:
        app: student-service
    spec:
      containers:
        - name: student-service
          image: vishwaghimire/student-service
          imagePullPolicy: Always
          ports:
            - containerPort: 8084
          env:
            # Kafka
            - name: KAFKA_BOOTSTRAP_SERVER
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: kafka_BootStrapServers
            - name: KAFKA_CONSUMER_GROUP_ID
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: kafka_searchServiceGroupId
            - name: KAFKA_STUDENT_SIGNUP_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: student-signup-topic
            - name: KAFKA_STUDENT_SIGNUP_EMAIL_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: student-signup-email-topic

            # Database: MongoDB
            - name: MONGO_URL
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: mongo_url
            - name: MONGO_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: mongo_candidateDBName
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: core-secrets
                  key: mongo_user
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: core-secrets
                  key: mongo_pass

            # Tracing: Zipkin & Sleuth
            - name: ZIPKIN_URL
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: zipkin_url
            - name: ZIPKIN_ENABLED
              value: true

            # App Specific
            - name: JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: core-secrets
                  key: jwt-secret-key