apiVersion: v1
kind: Service
metadata:
  name: tutor-service
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  selector:
    app: tu-app
  ports:
    - port: 80
      #      nodePort: 30082
      targetPort: 8082
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tutor-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tu-app
  template:
    metadata:
      labels:
        app: tu-app
    spec:
      containers:
        - name: tu-app
          image: vishwaghimire/tutor-service
          imagePullPolicy: Always
          ports:
            - containerPort: 8082
          env:
            # Broker: Kafka
            - name: KAFKA_BOOTSTRAP_SERVER
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: kafka_BootStrapServers
            - name: KAFKA_CONSUMER_GROUP_ID
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: kafka_searchServiceGroupId
            - name: KAFKA_TUTOR_SIGNUP_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: tutor-signup-topic
            - name: KAFKA_TUTOR_SIGNUP_EMAIL_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: tutor-signup-email-topic

            # Database: MongoDB
            - name: MONGO_URL
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: mongo_url
            - name: MONGO_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: mongo_candidateDBName
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: core-secrets
                  key: mongo_user
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: core-secrets
                  key: mongo_pass

            # Tracing: Zipkin & Sleuth
            - name: ZIPKIN_URL
              valueFrom:
                configMapKeyRef:
                  name: core-configs
                  key: zipkin_url
            - name: ZIPKIN_ENABLED
              value: "true"

            # App Specific
            - name: JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: core-secrets
                  key: jwt-secret-key

