name: Create and publish a docker image

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run script file
        run: |
            chmod +x ./build.sh
            sh build.sh
        shell: sh
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push to Docker Hub
        run: docker push vishwaghimire/authentication-service:latest
      - name: Push to Docker Hub
        run: docker push vishwaghimire/notification-service:latest
      - name: Push to Docker Hub
        run: docker push vishwaghimire/reservation-service:latest
      - name: Push to Docker Hub
        run: docker push vishwaghimire/student-service:latest
      - name: Push to Docker Hub
        run: docker push vishwaghimire/tutor-requirement-search-service:latest
      - name: Push to Docker Hub
        run: docker push vishwaghimire/tutor-requirement-service:latest
      - name: Push to Docker Hub
        run: docker push vishwaghimire/tutor-service:latest

#        authentication-service
#        notification-service
#        reservation-service
#        student-service
#        tutor-requirement-search-service
#        tutor-requirement-service
#        tutor-service
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2
#        with:
#          context: "{{defaultContext}}:authentication-service"
#      - name: Login to Docker Hub
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#
#      - name: Extract metadata (tags, labels) for Docker
#        id: meta
#        uses: docker/metadata-action@v4
#        with:
#          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
#
#      - name: Build and push
#        uses: docker/build-push-action@v3
#        with:
#          context: .
#          push: true
#          tags: ${{ secrets.DOCKERHUB_USERNAME }}/authentication-service:latest





